#tiles li {
	width: 240px !important;
	background-color: #ffffff;
	border: 1px solid #dedede;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 10px !important;
	margin-right: 7px;
	margin-bottom: 7px;
	float: left;
	list-style-type: none;
}

#tiles li img {
	margin-bottom: 10px;
}

#tiles li div.meta {
	color: #999;
	text-transform: uppercase;
	font-size: 10px;
	margin: 0;
}

#tiles li h4 {
	line-height: 1.5;
	margin: 0 0 5px 0;
	text-align : center;
}

#tiles li h4 a {
	line-height: inherit;
	margin: 0;
	text-decoration: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
}

#tiles li p {
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
}

#tiles li a {
	font-size: 12px;
}

#tiles li .more_link {
	font-size: smaller;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: nowrap;
	display: block;
	margin: 5px 0 0 0;
}

#tiles li blockquote {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #999;
	border: none;
	font-size: 150%;
	font-style: italic;
	font-family: Georgia, Times, serif;
}

#tiles li blockquote small {
	font-size: 11px;
	font-style: normal;
}

#tiles li .search {
  margin-left: 0px; 
  background-color:#666; 
  opacity:0;
  visibility:hidden;
  position:absolute; 
  top:0; 
  bottom: 0; 
  left:0; 
  right: 0;
  z-index:10;
  text-decoration: none;
  color:white;
  transition:opacity 1s ease, visibility 1s 1s linear;
}

#tiles li search .span {
  height:1.5em;
  line-height:1.5em;
  display: block;
  width:100%;
  text-align: center;
  background-color: gold;
  position: absolute;
  top:50%;
  margin-top:-.75em;
}

#tiles:hover search {
  opacity:0.9;
  visibility:visible;
}
